@import url('node_modules/@fortawesome/fontawesome-free/css/all.min.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}

:root {
    font-size: 62.5%;
    
}

body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
    line-height: 1.6;
}

/* Barra superior */
.top-bar {
    background-color: #000000c0;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.top-bar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.top-bar .brand h1 a {
    color: #0de62a;
    text-decoration: none;
    font-size: 2rem;
    margin: 0;
}

.top-bar .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.top-bar .menu-toggle .bar {
    width: 2.5rem;
    height: 0.3rem;
    background-color: #fff;
    margin: 0.3rem 0;
}

.top-bar .navigation ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    font-size: 1.6rem;
}

.top-bar .navigation ul li {
    margin-right: 2rem;
}

.top-bar .navigation ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.top-bar .navigation ul li a:hover {
    color: rgb(0, 255, 55);
    transition: 0.1s;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
    .top-bar .menu-toggle {
        display: flex;
    }

    .top-bar .navigation ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .top-bar .navigation ul.show {
        display: flex;
    }

    .top-bar .navigation ul li {
        width: 100%;
        margin: 1rem 0;
        text-align: center;
    }
}

/* Seção hero */
.hero {
    padding: 5rem 2rem;
    background-color: #ffffff;
    background-image: url('../assets/background.jpg');
    background-size: cover;
    background-position: center;
    position: relative; 
    z-index: 0;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffffc5; 
    z-index: -1; 
}

.hero .container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 2rem;
    position: relative;
    z-index: 1; 
}

.hero .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.hero .hero-content h2 {
    font-size: 3rem;
    color: #000;
    margin-bottom: 1rem;
}

.hero .hero-content h2 span {
    color: #0de62a;
}

.hero .hero-content p {
    font-size: 1.6rem;
    color: #000;
    margin-bottom: 2rem;
}

.hero .hero-content .btn {
    padding: 1rem 2rem;
    background-color: #0de62a;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.6rem;
    display: inline-block;
}

.hero .hero-content .btn:hover {
    background-color: #0bbb1f;
    transition: 0.2s;
}

.hero .hero-image img {
    width: 100%;
    height: auto;
}

/* Seção hero - dispositivos móveis */
@media (max-width: 768px) {
    .hero .container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .hero .hero-content {
        padding: 1rem;
    }
}

/* Seção planos */
.plans {
    padding: 20rem 2rem;
    background-color: #ffffff;
    text-align: center;
}

.plans .container {
    max-width: 1200px;
    margin: 0 auto;
}

.plans h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #000;
}

.plans p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    color: #000;
}

.plan-list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.plan-box {
    background-color: #fff;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s ease-in-out;

}
.plan-box:hover {
    transform: scale(1.05); }

.plan-box .plan-header h3 {
    font-size: 2.4rem;
    margin-bottom: 0.5rem;
    color: #0de62a;
}

.plan-box .plan-header p {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #000;
}

.plan-box .plan-price p {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #000;
}

.plan-box .plan-price .currency {
    font-size: 1.8rem;
}

.plan-box .plan-price .period {
    font-size: 1.8rem;
    color: #000;
}

.plan-box .plan-features {
    list-style: none;
    padding: 0;
    margin-bottom: 2rem;
    color: #000;
}

.plan-box .plan-features li {
    margin-bottom: 0.5rem;
    color: #000;
}

.plan-box .btn-contratar {
    display: block;
    padding: 1rem 2rem;
    background-color: #0de62a;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-size: 1.8rem;
}

.plan-box .btn-contratar:hover {
    background-color: #0bbb1f;
    transition: 0.2s;
}

@media (max-width: 768px) {
    .plan-box {
        width: 100%;
    }
}

/* Seção Sobre */
.about {
    padding: 20rem 2rem;
    background-color: #ffffff;
    text-align: center;
}

.about .container {
    max-width: 100%;
    margin: 0 auto;
    width: 76,8rem;
    overflow: hidden;
}

.about h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #000;
}

.about p {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #000;
}

.about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 2rem;
}

.about-item {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 10rem;
    font-size: 1.7rem;
    
}

.about-item img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.about-item p{
    font-size: 1.8rem;
}

@media (max-width: 76.8rem) {
    .hero .container {
        grid-template-columns: 1fr;
    }

    .about-grid {
        grid-template-columns: 1fr;
    }

}

  /* Estilos para a seção de contato */
  .contato-section {
    background-color: #ffffff;
    padding: 10rem 5rem;
   
}

.contato-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contato-section h2 {
    font-size: 3.6rem;
    margin-bottom: 2rem;
}

.contact-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.contact-content .map,
.contact-content .form {
    width: 48%;
    padding-bottom: 20rem;
    margin-top: 8rem;
}
.contact-content .map iframe{
    width: 30,8rem;
    height: 20rem;
    margin-top: 6rem;
    max-width: 100%;
    max-height: 100%;
    
}

.contact-content .form h3 {
    font-size: 2.4rem;
    margin-bottom: 2.0rem;
}

.contact-content .form form {
    display: flex;
    flex-direction: column;
}

.contact-content .form input,
.contact-content .form textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.4rem;
}

.contact-content .form button {
    padding: 1rem;
    border: none;
    border-radius: 0.4rem;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

.contact-content .form button:hover {
    background-color: #45a049;
}
/* CSS para dispositivos móveis */
@media (max-width: 768px) {
    .contact-content {
        flex-direction: column;
        align-items: center;
    }

    .contact-content .map,
    .contact-content .form {
        width: 100%;
    }
}
/* Seção de Contato - dispositivos móveis */
@media (max-width: 76.8rem) {
    .contact-content {
        flex-direction: column;
        align-items: center;
    }}
    @media (max-width: 768px) {
        .contact-content .map iframe {
            width: 100%; 
            height: auto; 
        }
    }
    /* Estilos para o rodapé */
    /* Estilos para o rodapé */
.footer {
    background-color: #ffffff;
    padding: 5rem 2rem; 
}

.footer .container {
    display: flex;
    flex-direction: column; 
    align-items: inherit; 
    text-align: justify;
}

.footer .footer-content {
    display: flex;
    flex-direction: column; 
    width: 100%;
}

.footer .footer-info {
    display: flex;
    flex-direction: row; 
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.footer .footer-info-item {
    margin-bottom: 1rem; 
    color: #000000;
    width: 100%; 
    text-align: center; 
}

.footer .footer-info-item i {
    color: rgb(31, 255, 31);
    font-size: 2.4rem;
    margin-right: 1rem;
    margin-top: 1rem; 
}

.footer .footer-info-item p {
    margin: 0.5rem 0;
}

.footer i.fa-map{
    background-image: linear-gradient(to bottom, #09ff00, #97f828, #a5fe00);
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    color: black;
}
footer i.fa-phone{
    background-image: linear-gradient(to bottom, #09ff00, #97f828, #a5fe00);
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    color: black;
}
footer i.fa-envelope{
    background-image: linear-gradient(to bottom, #09ff00, #97f828, #a5fe00);
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    color: black;
}
footer i.fa-clock{
    background-image: linear-gradient(to bottom, #09ff00, #97f828, #a5fe00);
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    color: black;
}

.footer i{
    color: rgb(8, 253, 0);
}
.footer .footer-links {
    margin-top: 2rem;
    display: flex;
    flex-direction: row; 
    align-items: center; 
    width: 100%; 
    font-size: 1.5rem; 
}

.footer .footer-links-column {
    display: flex;
    flex-direction: column;
    width: 100%; 
    margin-bottom: 2rem;
}

.footer .footer-links-column h4 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.footer .footer-links-column ul {
    list-style: none;
    padding: 0;
}

.footer .footer-links-column ul li {
    margin-bottom: 1rem;
}

.footer .footer-links-column ul li a {
    color: #000;
    text-decoration: none;
}

.footer .footer-links-column ul li a:hover {
    text-decoration: underline;
}
.footer .ant-thief{
    background-color: #ffffff;
    text-align: center;
    font-size: 1.3rem;
}

.footer .ant-thief span{
    background-image: linear-gradient(to right, #ffd000, #f8a528, #fe3300);
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    color: black;
    font-size: 1.6rem;
}


    /* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
    .footer .footer-info {
        flex-direction: column; 
        align-items: center; 
    }

    .footer .footer-info-item {
        width: auto; 
        text-align: center; 
    }

    .footer .footer-links {
        flex-direction: column; 
        align-items: center; 
    }

    .footer .footer-links-column {
        width: 100%; /* Garante que a largura ocupe toda a área disponível */
    }
}

.social-container {
    text-align: center;
    margin-top: 2rem;
}

.social-icons i.fa-instagram{
    background-image: linear-gradient(to bottom, #293FDC, #FB2F98, #FE9200);
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    color: black;
    
}

.social-icons i.fa-facebook{
    color: blue;
}

.social-icons {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 2rem; 
}

.social-icons a {
    color: #000; 
    font-size: 2.4rem; 
    transition: color 0.2s ease-in-out;
}

.social-icons a:hover {
    color: #0de62a; 
}

 /*font poppins*/
    .poppins-thin {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
      }
      
      .poppins-extralight {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: normal;
      }
      
      .poppins-light {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
      }
      
      .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .poppins-medium {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
      }
      
      .poppins-semibold {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
      }
      
      .poppins-bold {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
      
      .poppins-extrabold {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: normal;
      }
      
      .poppins-black {
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-style: normal;
      }
      
      .poppins-thin-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: italic;
      }
      
      .poppins-extralight-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: italic;
      }
      
      .poppins-light-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: italic;
      }
      
      .poppins-regular-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: italic;
      }
      
      .poppins-medium-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: italic;
      }
      
      .poppins-semibold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: italic;
      }
      
      .poppins-bold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: italic;
      }
      
      .poppins-extrabold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: italic;
      }
      
      .poppins-black-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-style: italic;
      }
      
