* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

/* Barra superior */
.top-bar {
    border-radius: 2rem;
    background-color: #000000c0;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.top-bar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar .brand h1 a{
    color: #0de62a;
    text-decoration: none;
    padding-left: 10rem;
    font-size: 2rem;
    margin: 0;
}

.top-bar .navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    padding-right: 10rem;
    font-size: 2rem;
}

.top-bar .navigation ul li {
    margin-right: 5rem;
}

.top-bar .navigation ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.top-bar .navigation ul li :hover{
    color: rgb(0, 255, 55);
    transition: 0.1s;
}
/* Seção hero */
.hero {
    padding: 5rem;
    background-color: #ffffff;
}

.hero .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
}

.hero-content {
    margin-right: 10rem;
    margin-left: 15rem;
    max-width: 100%;
}

.hero-content h2 {
    font-family: 'Montserrat', sans-serif;
    color: #003366;
    font-size: 8rem;
    margin-bottom: 2rem;
}

.hero-content h2 span {
    color: #32cd32;
}

.hero-content p {
    color: #333333;
    font-size: 4rem;
    margin-bottom: 4rem;
}
.hero-content .hero-content-bg{
    padding-top: 30rem;
    padding-left: 10rem;
    height: 60rem;
    width: 60rem;
    text-align: center;
}

.hero-content .btn {
    background: linear-gradient(90deg, #2EB4FF, #A42F99, #991B2A);
    color: #fff;
    padding: 0 2rem;
    text-decoration: none;
    border-radius: 0.5rem;
    border: none;
    transition: background 0.3s;
    font-weight: bold;
    height: 5rem;
    width: 10rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.70rem;
}

.hero-content .btn:hover {
    background: green;
}

.hero-image img {
    max-width: 100%;
    height: auto;
}

/* Seção about */
.about {
    padding: 35rem;
    background-color: #ffffff;
}

.about .container {
    max-width: auto;
    margin: 0 auto;
    text-align: center;
}

.about h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 10rem;
    color: #003366;
    margin-bottom: 6rem;
}

.about p {
    text-align: justify;
    font-size: 4rem;
    color: #333333;
    margin-bottom: 8rem;
}

.about-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 20rem;
}

.about-item {
    padding-top: 2rem;
    font-style: italic;
    background-color: rgba(255, 174, 0, 0.644);
    width: 28rem;
    height: 40rem; /* Aumentando a altura das colunas */
    border-radius: 10%;
    text-align: center;
    font-size: 2rem;
    color: rgb(37, 4, 224);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.about-item img{
    padding-top: 10rem;
    width: 6rem;
    height: 6rem;
    max-width: 100%;
    max-height: 100%;
   
}

.about-item span {
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

