* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
    line-height: 1.6;
}

/* Barra superior */
.top-bar {
    background-color: #0ffadb;
    padding: 1rem 0;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.top-bar .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 60px;
    margin-right: 1rem;
}

.brand h1 a {
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
}

.navigation ul {
    list-style: none;
    display: flex;
}

.navigation ul li {
    margin-right: 2rem;
}

.navigation ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 2rem;
    transition: color 0.3s;
}

.navigation ul li a:hover {
    color: #09ff00;
}

.contact-info {
    margin-right: 2rem;
    font-size: 1.2rem;
}

.btn-central {
    background-color: #ff0000;
    color: #fff;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
    font-size: 2rem;
}

.btn-central:hover {
    background-color: #b9fc01;
}

/* Seção hero */
.hero {
    padding: 5rem 2rem;
    background-color: #ffffff;
}

.hero .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    align-items: center;
}

.hero-content {
    text-align: center;
}

.hero-content h2 {
    font-family: 'Montserrat', sans-serif;
    color: #003366;
    font-size: 4rem;
    margin-bottom: 2rem;
}

.hero-content h2 span {
    color: #32cd32;
}

.hero-content p {
    color: #333333;
    font-size: 2rem;
    margin-bottom: 4rem;
}

.hero-content .btn {
    background: linear-gradient(90deg, #2EB4FF, #A42F99, #991B2A);
    color: #fff;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 0.5rem;
    border: none;
    transition: background 0.3s;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
}

.hero-content .btn:hover {
    background: green;
}

.hero-image img {
    max-width: 100%;
    height: auto;
}

/* Seção about */
.about {
    padding: 5rem 2rem;
    background-color: #ffffff;
}

.about .container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.about h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    color: #003366;
    margin-bottom: 2rem;
}

.about p {
    text-align: justify;
    font-size: 2rem;
    color: #333333;
    margin-bottom: 4rem;
}

.about-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.about-item {
    padding: 2rem;
    background-color: rgba(255, 174, 0, 0.644);
    border-radius: 10%;
    text-align: center;
    font-size: 1.6rem;
    color: rgb(37, 4, 224);
}

.about-item img {
    width: 6rem;
    height: 6rem;
    margin-bottom: 1rem;
}

.about-item span {
    font-weight: 500;
    color: #ffffff;
    display: block;
    margin-bottom: 1rem;
}

/* Media Queries */
@media (min-width: 768px) {
    .hero .container {
        grid-template-columns: 1fr 1fr;
    }

    .hero-content {
        text-align: left;
    }

    .hero-content h2 {
        font-size: 6rem;
    }

    .hero-content p {
        font-size: 2.5rem;
    }

    .about-grid {
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    }

    .about h2 {
        font-size: 6rem;
    }

    .about p {
        font-size: 2.5rem;
    }
}

@media (min-width: 1024px) {
    .hero-content h2 {
        font-size: 8rem;
    }

    .hero-content p {
        font-size: 3rem;
    }

    .about h2 {
        font-size: 8rem;
    }

    .about p {
        font-size: 3rem;
    }
}
